{% extends 'base.html' %}
{%  load static %}

{% block title %}

Sem B.O

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/home_style.css' %}">

{% endblock %}

{% block content %}

    <div class="content-principal">
        <div class="welcome-div">
            <div class="welcome text-black-700 font-semibold text-3xl">
                Olá, <b class="text-black-700">Sr(a) Rafael</b>
            </div>
            <div class="note text-gray-600">
                <b class="font-semibold">Oftalmologista</b>
                <span>CRM/SP 123456</span>
            </div>
        </div>
    
        <form id="search-form" class="form-search" method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="flex justify-center ml-4 mr-4">
                <div class="search flex items-center bg-transparent p-2">
                    <input type="text" class="search bg-white focus:outline-none w-full p-2.5 opacity-90" placeholder="Digite o procedimento" name="q">
                    <ion-icon class="w-6 h-6 absolute text-gray-600 opacity-40" name="search-outline"></ion-icon>
                </div>
                <div class="filter bg-F4F4F8 flex justify-center items-center">
                    <ion-icon name="options-outline" class="w-6 h-6"></ion-icon>
                </div>
            </div>
        </form>
        

        <div class="results none">
            <div class="search_results rounded-md">
            </div>
        </div>
        
        <div class="banner flex justify-center items-center">
            <img src="{% static 'assets/abstract.jpg' %}" class="object-cover">
        </div>
    </div>

    <div class="devices items-center">
        <div class="title text-xl font-semibold mt-6 text-center">
            Mais <b> Informações</b>
        </div>
        <div class="list mt-2.5">
            <div class="item rounded-md bg-white shadow-md mr-4 mb-4 text-center">
                <ion-icon name="person-circle-outline" class="text-black-600 mx-auto"></ion-icon>
                <span class="text-sm mt-2">Meu Perfil</span> 
            </div>                      
            <div class="item rounded-md bg-white shadow-md mr-4 mb-4 text-center">
                <ion-icon name="medical-outline" class="text-black-600 mx-auto"></ion-icon>
                <span>Todos Procedimentos</span>
            </div>
            <div class="item rounded-md bg-white shadow-md mr-4 mb-4 text-center">
                <ion-icon name="help-circle-outline" class="text-black-600 mx-auto"></ion-icon>
                <span>Dúvidas</span>
            </div>
        </div>
    </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const form = $('#search-form');
        const searchResults = $('.search_results');
        const banner = $('.banner');
        const loadingIndicator = $('.loading');

        let page = 2;
        let loading = false;

        form.submit(function (e) {
            e.preventDefault();
            const query = form.find('input[name="q"]').val().trim();
            if (query) {
                $.ajax({
                    type: "GET",
                    url: form.attr('action'),
                    data: { 'q': query },
                    success: function (data) {
                        if (data.procedures && data.procedures.length > 0) {
                            var html = '';

                            data.procedures.forEach(function (procedure) {
                                var procedureHTML = '<div class="procedure p-4 my-2 border rounded-lg">';
                                procedureHTML += '<a href="#">' + procedure.name + '</a>';
                                procedureHTML += '<a href="#">' + procedure.record_name + '</a>';
                                procedureHTML += '<ion-icon name="bookmark-outline" class="w-5 h-5"></ion-icon>';
                                procedureHTML += '</div>';

                                html += procedureHTML;
                            });

                            searchResults.html(html);

                            if(data.procedures[0].has_more_results==true) {
                                searchResults.append('<button id="load-more" style="display: block;">Carregar Mais</button>');
                                searchResults.append('<div class="loading" style="display: none;">carregando...</div>')
                            }
                        }

                        banner.addClass('none')
                        const div_search = searchResults.parent()
                        div_search.removeClass('none')
                        div_search.addClass('block')
                        const loadMoreButton = $('#load-more');
                        const loadingIndicator = $('.loading');

                        loadMoreButton.click(function () {
                            if (!loading) {
                                loading = true;
                                loadMoreButton.hide();
                                loadingIndicator.show();
                                const query = form.find('input[name="q"]').val().trim();

                                $.ajax({
                                    type: "GET",
                                    url: form.attr('action'),
                                    data: { 'q': query, 'page': page },
                                    dataType: "json",
                                    success: function (data) {
                                        if (data.procedures && data.procedures.length > 0) {
                                            data.procedures.forEach(function (procedure) {
                                                var procedureDiv = $('<div class="procedure p-4 my-2 border rounded-lg"></div>');
                                                var nameLink = $('<a href="#">' + procedure.name + '</a>');
                                                var recordLink = $('<a href="#">' + procedure.record_name + '</a>');
                                                var icon = $('<ion-icon name="bookmark-outline" class="w-5 h-5"></ion-icon>');

                                                procedureDiv.append(nameLink);
                                                procedureDiv.append(recordLink);
                                                procedureDiv.append(icon)
                                           
                                                searchResults.append(procedureDiv);
                                                procedureDiv.insertBefore(loadMoreButton);
                                            });

                                            if(data.procedures[0].has_more_results==false) {
                                                loadMoreButton.remove();
                                                loadingIndicator.remove()
                                            }

                                            page++;

                                        }
                                        loading = false;
                                        loadingIndicator.hide();
                                        loadMoreButton.show();
                                    }
                                });
                            }
                        });
                    }
                });
            }
        });
    });
</script>

{% endblock %}