{% extends 'base.html' %}
{%  load static %}

{% block title %}

Home

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/home_style.css' %}">

{% endblock %}

{% block content %}

    <div class="content-principal">
        <div class="welcome-div">
            <div class="welcome text-black-700 font-semibold text-3xl">
                Olá, <b class="text-black-700">Sr(a) Rafael</b>
            </div>
            <div class="note text-gray-600">
                <b class="font-semibold">Oftalmologista</b>
                <span>CRM/SP 123456</span>
            </div>
        </div>
    
        <form id="search-form" class="form-search" method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="flex justify-center ml-4 mr-4">
                <div class="search flex items-center bg-transparent p-2">
                    <input type="text" class="search bg-white focus:outline-none w-full p-2.5 pl-20 opacity-90" placeholder="Digite o procedimento" name="q">
                    <ion-icon class="w-6 h-6 absolute left-20 text-gray-600 opacity-40" name="search-outline"></ion-icon>
                </div>
                <div class="filter bg-F4F4F8 flex justify-center items-center">
                    <ion-icon name="options-outline" class="w-6 h-6"></ion-icon>
                </div>
            </div>
        </form>
        

        <div class="flex items-center justify-center results">
            <div class="search_results rounded-md">
            </div>
        </div>
        
          <!-- <div class="flex justify-center items-center mt-2">
            <img src="abstract.jpg" class=" w-95vw h-50vh object-cover">
          </div> -->
    </div>

    <div class="devices items-center">
        <div class="title text-xl font-semibold mt-6 text-center">
            Mais <b> Informações</b>
        </div>
        <div class="list mt-4">
            <div class="item rounded-md bg-white shadow-md mr-4 mb-4 text-center">
                <ion-icon name="person-circle-outline" class="text-black-600 mx-auto"></ion-icon>
                <span class="text-sm mt-2">Meu Perfil</span> 
            </div>                      
            <div class="item rounded-md bg-white shadow-md mr-4 mb-4 text-center">
                <ion-icon name="medical-outline" class="text-black-600 mx-auto"></ion-icon>
                <span>Todos Procedimentos</span>
            </div>
            <div class="item rounded-md bg-white shadow-md mr-4 mb-4 text-center">
                <ion-icon name="help-circle-outline" class="text-black-600 mx-auto"></ion-icon>
                <span>Dúvidas</span>
            </div>
        </div>
    </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const form = $('#search-form');
        const searchResults = $('.search_results');

        form.submit(function (e) {
            e.preventDefault();
            const query = form.find('input[name="q"]').val().trim();
            console.log(query)
            if (query) {
                $.ajax({
                    type: "GET",
                    url: form.attr('action'),
                    data: { 'q': query },
                    success: function (data) {
                        searchResults.html(data);
                    }
                });
            }
        });
    });
</script>

{% endblock %}